In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
file_path = "laptop_pricing_dataset_mod1.csv"

In [47]:
df = pd.read_csv(file_path, header=0)

In [48]:
df.head(10)

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
5,5,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.20,1016
6,6,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.10,1117
7,7,Acer,3,IPS Panel,2,1,5,38.100,1.6,4,256,2.20,866
8,8,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.30,812
9,9,Acer,3,IPS Panel,3,1,7,38.100,1.8,8,256,2.20,1068

In [49]:
df[['Screen_Size_cm']] = np.round(df[['Screen_Size_cm']],2)
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [50]:
# Replace "?" with NaN values

import numpy as np

df.replace("?", np.nan, inplace = True)
df.head(5)

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [51]:
missing_data = df.isnull()

In [52]:
missing_data.value_counts()

Unnamed: 0  Manufacturer  Category  Screen  GPU    OS     CPU_core  Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
False       False         False     False   False  False  False     False           False          False   False           False      False    229
                                                                                                                           True       False      5
                                                                    True            False          False   False           False      False      4
Name: count, dtype: int64

In [53]:
missing_data["Weight_kg"].value_counts()

Weight_kg
False    233
True       5
Name: count, dtype: int64

In [54]:
# get mean value for "Weight_kg" column
mean_weight = df["Weight_kg"].astype("float").mean(axis=0)
print("Mean weight:", mean_weight)
# replace NaN values in "Weight_kg" column with mean value
df["Weight_kg"].replace(np.nan, mean_weight, inplace=True)
df.head(5)

Mean weight: 1.8622317596566522

/tmp/ipykernel_79606/97826592.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Weight_kg"].replace(np.nan, mean_weight, inplace=True)

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [55]:
df.isnull()["Weight_kg"].value_counts()

Weight_kg
False    238
Name: count, dtype: int64

In [56]:
df["Screen_Size_cm"].isnull().value_counts()

Screen_Size_cm
False    234
True       4
Name: count, dtype: int64

In [57]:
# get most frequent value for "Screen_Size_cm" column
most_frequent_size = df["Screen_Size_cm"].astype("float").mode()[0]
print("Most frequent screen size:", most_frequent_size)

Most frequent screen size: 39.62

In [58]:
# Replace "NaN" values with the most frequent value in "Screen_Size_cm" column
df["Screen_Size_cm"].replace(np.nan, most_frequent_size, inplace=True)
df.head(5)

/tmp/ipykernel_79606/1514697595.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Screen_Size_cm"].replace(np.nan, most_frequent_size, inplace=True)

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [59]:
df.dtypes

Unnamed: 0          int64
Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

In [60]:
# ensure Screen_Size_cm and Weight_kg are float
df[["Screen_Size_cm", "Weight_kg"]] = df[["Screen_Size_cm", "Weight_kg"]].astype("float")

In [61]:
# Data standardization
# 1. Lets create Screen_Size_inch column from Screen_Size_cm
# 1 inch = 2.54 cm
df["Screen_Size_inch"] = np.round(df["Screen_Size_cm"] / 2.54, 2)

# 2. Lets create Weight_pounds column from Weight_kg
# 1 kg = 2.20462 pounds
df["Weight_pounds"] = np.round(df["Weight_kg"] * 2.20462, 2)

In [62]:
df[["Screen_Size_cm", "Screen_Size_inch", "Weight_kg", "Weight_pounds"]].head(10)

   Screen_Size_cm  Screen_Size_inch  Weight_kg  Weight_pounds
0           35.56              14.0       1.60           3.53
1           39.62              15.6       2.20           4.85
2           39.62              15.6       2.20           4.85
3           33.78              13.3       1.22           2.69
4           39.62              15.6       1.91           4.21
5           39.62              15.6       2.20           4.85
6           39.62              15.6       2.10           4.63
7           38.10              15.0       2.20           4.85
8           39.62              15.6       2.30           5.07
9           38.10              15.0       2.20           4.85

In [63]:
df.columns

Index(['Unnamed: 0', 'Manufacturer', 'Category', 'Screen', 'GPU', 'OS',
       'CPU_core', 'Screen_Size_cm', 'CPU_frequency', 'RAM_GB',
       'Storage_GB_SSD', 'Weight_kg', 'Price', 'Screen_Size_inch',
       'Weight_pounds'],
      dtype='object')

In [64]:
# Data normalization

# Lets normalize CPU_Frequency column
df["CPU_frequency"] = df["CPU_frequency"].astype("float")
df["CPU_frequency"] = df["CPU_frequency"] / df["CPU_frequency"].max()

In [65]:
df["CPU_frequency"].head()

0    0.551724
1    0.689655
2    0.931034
3    0.551724
4    0.620690
Name: CPU_frequency, dtype: float64

In [68]:
# Binning

# Lets create bings for "Price"
# Bings should be "Low", "Medium", "High"
bins = np.linspace(min(df["Price"]), max(df["Price"]), 4)
group_names = ["Low", "Medium", "High"]
df['Price-binned'] = pd.cut(df['Price'], bins, labels=group_names, include_lowest=True )
df[["Price", "Price_binned"]].head(10)

   Price Price_binned
0    978          Low
1    634          Low
2    946          Low
3   1244          Low
4    837          Low
5   1016          Low
6   1117          Low
7    866          Low
8    812          Low
9   1068          Low

In [69]:
#Indicator Variable: Screen
dummy_variable_1 = pd.get_dummies(df["Screen"])
dummy_variable_1.rename(columns={'IPS Panel':'Screen-IPS_panel', 'Full HD':'Screen-Full_HD'}, inplace=True)
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "Screen" from "df"
df.drop("Screen", axis = 1, inplace=True)

In [73]:
df[["Screen-Full_HD", "Screen-IPS_panel"]].head(10)

   Screen-Full_HD  Screen-IPS_panel
0           False              True
1            True             False
2            True             False
3           False              True
4            True             False
5            True             False
6            True             False
7           False              True
8            True             False
9           False              True